@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

:root {
    /* Primary */
    --accent-main: hsl(158, 36%, 37%);
    --accent-dark: hsl(158, 36%, 25%);
    --primary: hsl(30, 38%, 92%);

    /* Neutral */
    --dark-text: hsl(212, 21%, 14%);
    --light-text: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);

    --fw-main: 500;
    --fw-bold: 700;

    --fs-main: 0.875rem;
    --fs-accent: 2rem
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

body {
    min-height: 100vh;
    background-color: var(--primary);
    padding: 1rem;
    font-family: "Montserrat", sans-serif;
    font-size: var(--fs-main);
    font-weight: var(--fw-main);
    color: var(--light-text);
    display: grid;
    place-content: center;
    line-height: 1.5rem;
}

.product {
    background-color: var(--white);
    border-radius: .5rem;
    overflow: hidden;
    display: grid;
    max-width: 600px;
}

@media (min-width: 600px) {
    .product {
        grid-template-columns: 1fr 1fr;
    }
}

.content {
    padding: 1.5rem;
    display: grid;
    gap: 1rem;
}

.top-subtitle {
    text-transform: uppercase;
    letter-spacing: .25rem;
}

.title, .main-price {
    font-family: "Fraunces", serif;
    font-size: var(--fs-accent);
    color: var(--dark-text);
    line-height: 2rem;
}

.prices {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.main-price {
    color: var(--accent-main);
}

.old-price {
    text-decoration: line-through;
}

.btn-add-to-cart {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
    background-color: var(--accent-main);
    color: var(--white);
}

.btn-add-to-cart:active {
    background-color: var(--accent-dark);
}